.nav-link {
    color: #FFF !important;
}

.nav-link:hover {
    cursor: pointer !important;
    text-decoration: none !important;
    color: #FFF !important;
    background-color: #3F51B5 !important;
}

.link-text {
    padding: 10px;
}

.main-form {
    padding: 15px;
    border: 1px solid #BDBDBD;
}

.info-section {
    padding: 15px;
    border: 1px solid #BDBDBD;
    margin-top: 10px;
    margin-bottom: 20px;
}

.info-section dd {
    text-align: right;
    border-bottom: 1px solid #BDBDBD;
}

.navbar {
    border-radius: 0 !important;
}

.list-heading {
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.category-section {
    padding: 15px;
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    float: left;
    width: 100%;
}

.category-link {
    text-align: left;
    color: #757575;
    float: left;
    padding: 6px 12px;
}

.category-link:hover {
    text-decoration: none;
}

.category-button {
    text-align: right;
    float: right;
}

.tag-link {
    float: left;
    color: #FFF;
    background-color: #3F51B5;
    padding: 5px;
    border: 1px solid #BDBDBD;
    margin-right: 2px;
    border-radius: 2px;
}

.tag-link:hover {
    background-color: #C5CAE9;
    text-decoration: none;
}

.follow-link {
    width: 64px;
    height: 64px;
    float: left;
}

.share-button{
  margin-top:15px;
  margin-bottom:20px;
}

.page-footer {
    padding: 20px;
    margin-top: 40px;
    bottom: 0px;
    width: 100%;
    float: left;
}
