<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="build/css/bootstrap.min.css">
    <link rel="stylesheet" href="build/css/font-awesome.min.css">
    <link rel="stylesheet" href="build/css/style.min.css">
    <link rel="stylesheet" href="build/css/palette.min.css">
    {% block head %} {% endblock %}
</head>

<body>
    {% block navigation %} {% endblock %}
    {% block content %} {% endblock %}
    <footer class="container-fluid text-center page-footer dark-primary-color text-primary-color">
        <p> Sinasi Eren Senel </p>
    </footer>
</body>
<script src="build/js/jquery.min.js"></script>
<script src="build/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}

</html>
