<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/build/css/bootstrap.min.css">
    <link rel="stylesheet" href="/build/css/font-awesome.min.css">
    <link rel="stylesheet" href="/build/css/style.min.css">
    <link rel="stylesheet" href="/build/css/palette.min.css"> {% block head %} {% endblock %}
</head>

<body>
    <nav class="navbar navbar-inverse dark-primary-color text-primary-color">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                <a class="nav-link navbar-brand" href="{{url_for('index')}}">Udacity Intro To Backend Project</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a class='nav-link' href="{{url_for('index')}}"><i class="fa fa-home" aria-hidden="true"></i><span class='link-text'>Home</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class='nav-link' href="{{url_for('about')}}"><i class="fa fa-user" aria-hidden="true"></i> <span class='link-text'>My Profile</span></a></li>
                    <li><a class='nav-link' href="{{url_for('logout')}}"><i class="fa fa-sign-out" aria-hidden="true"></i> <span class='link-text'>Logout</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %} {% endblock %}
    <footer class="container-fluid text-center page-footer dark-primary-color text-primary-color">
        <p> Sinasi Eren Senel </p>
    </footer>
</body>
<script src="/build/js/jquery.min.js"></script>
<script src="/build/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock %}

</html>
