{% extends "log_layout.html" %} {% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-sm-3 well">
            <div class="well">
                <p><a href="{{url_for('about', user_id = viewed_user.id)}}">About</a></p>
                <img src="{{ gravatar_url }}" class="" height="65" width="65" alt="Avatar">
            </div>
            <div class="well col-xs-12">
                <h4>Following</h4> {% if following and following|length > 0 %} {% for user in following %}
                <a class='follow-link' href="{{url_for('view_user', user_id = user.id)}}" title='{{user.username}}'>
                    <img src="{{create_gra(user.email)}}" alt="{{user.first_name + ' ' + user.last_name}}">
                </a>
                {% endfor %} {% else %}
                <p>Not following anyone.</p>
                {% endif %}
            </div>
            <div class="well col-xs-12">
                <h4>Followers</h4> {% if followers and followers|length > 0 %} {% for user in followers %}
                <a class='follow-link' href="{{url_for('view_user', user_id = user.id)}}" title='{{user.username}}'>
                    <img src="{{create_gra(user.email)}}" alt="{{user.first_name + ' ' + user.last_name}}">
                </a>
                {% endfor %} {% else %}
                <p>No followers</p>
                {% endif %}
            </div>
            <p><a href="{{url_for('category_list')}}">Categories</a></p>
            <p><a href="{{url_for('tag_list')}}">Tag List</a></p>
        </div>
        <div class="col-sm-7">
            {% if current_user.id == viewed_user.id %}
            <div class="row">
                <div class="col-xs-12 share-button">
                    <a href="{{url_for('edit_blog')}}" class="btn btn-primary btn-lg btn-block">Share Your Thoughts</a>
                </div>
            </div>
            {% endif %}
            <div class="row">
                {% if blogs and blogs|length > 0%} {% for item in blogs %}
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 blog-section well">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a class='blog-link' href="{{url_for('view_blog', post_id = item.id)}}">{{item.blog_title}}</a>
                                    <p class='blog-content'>{{shorthen_content(item.blog_content)}}</p>
                                    <p class="blog-read-more">
                                      {% if current_user.id == item.blog_user_id %}
                                      <a  type="button" href="{{url_for('edit_blog', blog_id = item.id)}}" class="blog-edit-link btn btn-primary">Edit</a>
                                      {% else %}
                                      <a id="likelink{{item.id}}" type="button" href="javascript:void(0)" onclick='likeBlog({{item.id}})' class="blog-edit-link btn btn-success">
                                      {% if item not in current_user.user_likes %}
                                      Like
                                      {% else %}
                                      Dislike
                                      {% endif %}
                                      </a>
                                      {% endif %}
                                      <a  type="button" href="{{url_for('view_blog', id = item.id)}}" class="blog-read-more-link btn btn-default">Read More</a>
                                    </p>

                                </div>
                            </div>
                            <div class="row blog-info-section">
                                <div class="col-sm-4 blog-created-info">
                                    <p class='blog-created-info-text'>Created By:</p>
                                    <a style="float:left;" href="{{url_for('view_user', user_id = item.blog_user_id)}}" title='{{item.blog_user.username}}'>
                                        <img class="blog-created-user-picture" src="{{create_gra(item.blog_user.email)}}" alt="">
                                    </a>
                                    <p class='blog-created-user'>
                                        <span>{{item.blog_user.username}}</span>
                                        <span>{{item.blog_date}}</span>
                                    </p>
                                </div>
                                <div class="col-sm-4 blog-category-info">
                                    <p class="blog-category-info-text">Category:</p>
                                    <a class='blog-category-link' href="{{url_for('category_blog', category_id = item.blog_category_id)}}">{{item.blog_category.name}}</a>
                                </div>
                                <div class="col-sm-4 blog-tag-info">
                                    <p class="blog-tag-info-text">Tags:</p>
                                    <div class="blog-tags">
                                        {% for tag in item.blog_tags %}
                                        <a class='blog-tag-link' href="{{url_for('tag_blog', tag_id = tag.id)}}">{{tag.name}}</a> {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %} {% else %}
                <div class="col-xs-12">
                    <p>There is no post.</p>
                </div>
                {% endif %}

            </div>


        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-xs-12 well">
                    <div class="category-headline">
                        <h3>Categories</h3>
                    </div>
                    {% if categories and categories.data|length > 0 %}
                    <ul class="list-unstyled">
                        {% for category in categories.data %}
                        <li><a href="{{url_for('category_blog', category_id = category.id)}}">{{category.name}}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>There is no category.</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 well">
                    <div class="category-headline">
                        <h3>Tags</h3>
                    </div>
                    {% if tags and tags.data|count > 0 %} {% for tag in tags.data %}
                    <a class='tag-link' href="{{url_for('tag_blog', tag_id = tag.id)}}">{{tag.name}}</a> {% endfor %} {% else %}
                    <p>There is no tag.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% if current_user.id != viewed_user.id %}
<script type="text/javascript">
function likeBlog(id){
  $.ajax({
    url: '{{url_for('like')}}',
    dataType: 'text',
    method: 'GET',
    beforeSend: function(){
      $('#likelink' + id).attr('disabled','disabled');
    },
    data: { post_id: id },
    error: function(){
        alert('Something went wrong!');
        $('#likelink' + id).removeAttr('disabled','disabled');
    },
    success: function(response){
      $('#likelink' + id).removeAttr('disabled','disabled');
      $('#likelink' + id).text(response.split('#')[1]);
    }

  })
}
</script>
{% endif %}
{% endblock %}
