{% extends "layout.html" %} {% block navigation %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>Login</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign-Up</a></li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="hidden-xs col-sm-6 col-md-6">
            <div class="col-xs-8 col-xs-offset-2">
                //TO DO: Put an Image Here
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="row">
                <div class="col-xs-12">
                    <form acion='/register' method='post' accept-charset="UTF-8" autocomplete="on" name="RegisterForm" id="RegisterForm">
                        <div class="form-group">
                            <label for="FirstName">First Name</label>
                            <input type="text" class="form-control" id="FirstName" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="LastName">Last Name</label>
                            <input type="text" class="form-control" id="LastName" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="Username">Username</label>
                            <input type="text" class="form-control" id="Username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="Email">Email address</label>
                            <input type="email" class="form-control" id="Email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="Password">Password</label>
                            <input type="password" class="form-control" id="Password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="RetypePassword">Retype Password</label>
                            <input type="password" class="form-control" id="RetypePassword" placeholder="Retype Password">
                        </div>

                        <button type="submit" class="btn btn-default">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
