{% extends "log_layout.html" %} {% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <h3 class='list-heading'>Tags</h3>
                    <div class="row">
                      <div class="col-xs-12" style="margin-top:20px;margin-bottom:20px;">
                        <a class="btn btn-success btn-lg btn-block" href="{{url_for('edit_tag')}}">Add New</a>
                      </div>
                        {% if tag %} {% for item in tag %}
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="category-section">
                                      <a class='category-link' href="{{url_for('tag_blog', tag_id = item.id)}}">{{item.name}}</a>
                                      <a class="btn btn-primary category-button" href="{{url_for('edit_tag', tag_id = item.id)}}" role="button">Edit</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                        {% endfor %} {% else %}
                        <div class="col-xs-12">
                            <p>There is no tag.</p>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
